.container {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.layout-content {
  flex: 1;
  overflow-y: auto;

  background-color: #f9fafb;
}
