.wash-components {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.wash-cctv {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  overflow: hidden;
}

.cctv-view {
  width: auto;
  height: 380px;

  object-fit: contain;
}
.wash-car-list {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid rgb(221, 221, 221);
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.list-title {
  padding: 1.25rem;
  border-bottom-style: rgb(197, 197, 197);
}

.list-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 300px;
  overflow-y: auto;
}

.list-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.35rem;
  background-color: #f9fafb;
  height: 100px;
}

.list-data p {
  font-weight: 700;
}

.wait {
  background-color: #fef9c2;
  color: #a65f00;
  font-size: 20px;
  border-radius: 100%;
}

.ing {
  background-color: #dbeafe;
  color: blue;
  font-size: 20px;
  border-radius: 100%;
}

.car-number {
  color: black;
}

.state {
  background-color: green;
}

.job-state {
  display: inline-flex;
  padding: 0.25 0.75;
  border-radius: 100%;
  font-size: 14px;
}

.state {
  background-color: green;
  color: white;
  /* background-color: #dbeafe; */
  /* color: blue; */
}

.graph-component {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid rgb(221, 221, 221);
}

.graph-title {
  padding: 1.5rem;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.title {
  color: rgb(70, 70, 70);
  font-size: 24px;
}

.graph {
  padding: 1.5rem;
  width: 50px;
  height: 150px;
  background-color: green;
  color: white;
}
