.main-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.statistics-chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.chart-box {
  background-color: white;
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid #e5e7eb;
}

.chart-title {
  padding: 1.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid #e5e7eb;
}

.chart-content {
  width: 100%;
  height: 250px;
  padding: 1.5em;
  background-color: green;
  color: white;
}

.info-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.parkingcar-list {
  grid-column: span 2; /* 2칸 차지 */
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.list-title {
  padding: 1.5rem;
  border-bottom-width: 1px;
  border-style: 1px solid gray;
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-weight: bold;
}

#car-count {
  color: blue;
}

.parkingcar-table {
  width: 100%;
  border-collapse: collapse;
}

table {
  width: 100%;
}

thead {
  background-color: #f9fafb;
}

.parking-table th,
.parking-table td {
  padding: 12px 16px; /* th와 td 동일하게 패딩 */
  text-align: left; /* 왼쪽 정렬 */
  vertical-align: middle; /* 세로 중앙 정렬 */
}

.parking-table td.car-number {
  display: flex;
  align-items: center;
  gap: 8px;
}

.parking-table td.spot,
.parking-table td.entry {
  text-align: center; /* 가운데 정렬 */
}

.parking-table th {
  background-color: #f9fafb;
  color: #374151;
  font-weight: 600;
}

tbody > tr:hover {
  background-color: rgb(214, 214, 214);
}

tbody > tr > td {
  padding-left: 15px;
  padding-top: 20px;
}

.table-content > td {
  padding: 0.75rem 1rem;
}

thead > tr > th {
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
  padding-top: 0.75rem; /* py-3 */
  padding-bottom: 0.75rem; /* py-3 */
  text-align: left; /* text-left */
  color: #374151;
}

.weather-info {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1.5em;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#today {
  color: gray;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

#day {
  color: rgb(63, 63, 63);
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.weather-box {
  display: flex;
  align-items: center;
  gap: 3;
  padding: 0.75rem;
  background-color: rgb(255, 255, 187);
  /* background-color: green; */
  border-radius: 0.5rem;
}

/* .weather-text {
  color: rgb(63, 63, 63);
} */

.weather-icon {
  width: 40px;
  height: 40px;
  /* color: purple; */
}

.calendar {
  border-top: solid 1px rgb(172, 172, 172);
}

.water-title {
  font-size: 14px;
  margin-bottom: 0.35rem;
}

.system-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  /* background-color: #f9fafb; */
  border-radius: 1.5rem;
  background-color: green;
}

.system-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: greenyellow;
}

.state {
  /* color: gray; */
  color: white;
}

.system-icon {
  width: 16px;
  height: 16px;
  font-size: 10px;
  color: white;
}

.systtem-info {
  font-size: 14px;
  margin-top: 1rem;
  /* color: blue; */
  color: white;
  background-color: green;
  display: flex;
}
