.main-page {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}

/* 현재 작업정보 */
.current-work-conatiner {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

/* 상단표시 - 집계 박스 */
.working-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

/* 글자-아이콘 간격설정 */
.between-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.working-info {
  color: #6b7280;
}

.info-details {
  color: #111827;
  margin-top: 0.5rem;
}

.icon-box {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.repair-cctv {
  border-radius: 0.5rem;
  overflow: hidden;
}

.usage-status-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.use-status-box {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.h3-tag {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
}

.status-box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 300px;
  overflow-y: auto;
}

.list-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.35rem;
  background-color: #f9fafb;
  height: 100px;
}

.list-data p {
  font-weight: 700;
}

.car-number {
  color: black;
}

.checklist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.checklist-stock {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1rem;
}

.checklist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.checklist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #111827;
}

.check-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

.check-btn:hover {
  background-color: #2563eb;
}

.check {
  width: 16px;
  height: 16px;
}

.repair-list {
  margin-top: 0.5rem;
}

.add-repair {
  margin-bottom: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.repair-request {
  padding: 0.5rem;
  background-color: #224d77;
  color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

.no-request {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.checklist-stock {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checklist-footer {
  margin-top: 1rem;
  text-align: center;
}

.view-details-btn {
  padding: 0.5rem 1rem;
  background-color: #10b981;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.view-details-btn:hover {
  background-color: #059669;
}

.stockStatus-container {
  grid-column: span 2 / span 2;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  border: 1px solid black;
}

.stockStatus-box {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.stockStatus-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stockStatus-header h3 {
  color: #111827;
}

.outOfStock {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

table.stockStatus-table {
  width: 100%;
}

.stockStatus-table thead {
  background-color: #f9fafb;
}

th.stock-category {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #374151;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.stockStatus-table tbody > * + * {
  border-top: 1px solid #e5e7eb;
}

.insert {
  background-color: green;
  position: relative;
  aspect-ratio: 16 / 9;
  color: white;
}
