.side-menu {
  width: 16rem;
  background-color: #111827;
  flex-direction: column;

  color: white;
  height: 100vh;
  gap: 5px;
  display: flex;
}

.side-title {
  padding: 1.5rem; /* p-6 */
  text-align: left;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.side-title:hover {
  background-color: #1f2937; /* hover:bg-gray-800 */
}

.side-title h2 {
  margin: 0;
  color: #ffffff;
  font-size: 1.65rem;
  font-weight: 600;
}

.side-page {
  padding: 0 0.75rem; /* px-3 */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.side-page .menu-item {
  padding-left: 30px;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 15px;
  margin-bottom: 8px;
  display: flex; /* 아이콘과 텍스트 가로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 10px;
}

.side-page .menu-item:hover {
  background-color: white;
  color: black;
}

.side-page .menu-item.active {
  background-color: transparent;
  background-color: #0d6efd;
}

.side-footer {
  padding: 1rem;
  border-top: 1px solid #374151;
  margin-top: auto;
}

.side-info {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 3px;
}

.menu-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

#admin-name {
  color: #ffffff;
  font-size: 20px;
}

#admin-email {
  color: #9ca3af;
  font-size: 16px;
}

.today {
  display: flex;
  align-items: center;
  gap: 2px;
}
