.review-write-btn {
  width: 100%;
  margin-bottom: 8px;

  padding: 4px 8px;

  border: 1px solid #e5e7eb;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 14px;
}
